*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before{
  box-sizing: border-box;
}

*::after{
  box-sizing: border-box;
}

button{
  outline: none;
  border: none;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  background: #D4ECF9;
}

.doraemon{
  width: 100%;
  text-align: center;
}
.wrapper{
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
}
.container{
  width: 280px;
  height: 320px;
  position: relative;
}
#paper{
  width: 98vw;
  left: 0;
  position: relative;
  height: 42vh;
  padding-top: 12px;
  display: flex;
  overflow: hidden;
}

.changeSpeed{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  margin-top: 4px;
  margin-right: 4px;
}

.changeSpeed button{
  width: 48px;
  height: 24px;
  color: #efefef;
  border-radius: 4px;
  text-align: center;
}

.changeSpeed button:hover{
  background: #079992;
  border: 1px solid;
}

.changeSpeed button:nth-child(1){
  background: #78e08f;
}

.changeSpeed button:nth-child(2){
  margin: 4px 0;
  background: #3c6382;
}

.changeSpeed button:nth-child(3){
  margin-bottom: 4px;
  background: #6a89cc;
}

.changeSpeed button:nth-child(4){
  background: #0c2461;
}

#code{
  padding: 16px;
  width: 100%;
  overflow: auto;
  border: 1px solid #aaa;
}
.pre-wrapper{
  position: relative;
  width: 100%;
  right: 0;
  display: flex;
  align-items: flex-start;
}